body {
    background-image: url('../nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

fieldset {
    width: 500px;
    margin: auto;
    margin-top: 30vh;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #dc723d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

legend {
    font-style: italic;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

input {
    height: 18px;
    width: 50%;
    padding: 4px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #3f5d40;
    margin-left: 42%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}