body {
    background-image: url('../lofiGirl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav div {
    background-color: #8b321c;
    font-family: 'comic sans ms', sans-serif, 'Arial';
}

fieldset {
    width: 600px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(220, 114, 61, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

legend {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: blanchedalmond;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: blanchedalmond;
}

#email {
    width: 80%;
}

input {
    height: 40px;
    width: 70%;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #3f5d40;
    margin-left: 42%;
    color: blanchedalmond;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #2e3e2e;
}