nav div {
    background-color: #8b321c;
    font-family: 'comic sans ms', sans-serif, 'Arial';
}

#userInfo li {
    padding: 10px;
    font-size: 20px;
}

#socialsCard li{
    padding: 10px;
    font-size: 20px;
}